/.idea/
/.vscode/
/cmake-build-debug
/build
/.ipynb_checkpoints
/.cache
/.clang-format
/.DS_Store
/Notebooks/wandb
/Notebooks/.ipynb_checkpoints
/Notebooks/__pycache__
/Data
/wandb
/artifacts
.gitignore
conanfile.txt